.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper h1 {
  text-transform: uppercase;
}
.currency {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block input {
  width: 250px;
  height: 25px;
  border-radius: 3px;
  padding: 3px;
}
